
body, html {
  height: 100%;
}

.bg {
  background-image: url('https://cdn.dribbble.com/users/535167/screenshots/3263021/whitehouse-01_copy.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  width: 900px;
}

h1 {
  padding: 40px 0;
}

.player1 {
  position: relative;
  border: 1px;
  width: 200px;
  height: 200px;
  background-image: url('https://media.giphy.com/media/4QFzDdeLmo19MTm9AF/giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;

}

.player2 {
  position: relative;
  margin: 10px 0;
  border: 1px;
  width: 200px;
  height: 200px;
  background-image: url('https://media.giphy.com/media/xmkWVasKalbaM/giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-primary {
  color: black;
  background-color: red;
  margin: 10px 0 50px 0;
}
.btn-primary:hover {
  background-color: maroon;
}
